.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #589bff;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Chelsea Market';
  font-size: calc(0px + 2vmin);
  color: white;
}

.subtitle{
  font-family: 'Chelsea Market';
  font-size: 2em;
  color: white;
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

body{
  font-family: 'Chelsea Market';
}

.padding-container {
    padding: 10px; /* External padding */
    background-color: #a658ff; /* Different color for the external padding (e.g., gold) */
    border-radius: 30px; /* Makes sure the padding container has slightly more radius for smooth appearance */
    box-sizing: border-box;
}

.curved-box {
  background-color: #589bff;
  padding: 20px; /* Internal padding inside the box */
  border-radius: 25px; /* Curved corners */
  width: 100%;
  /* max-width: 1200px; Maximum width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  color: white;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.sub-column-container {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.page-break {
  margin-left: -20px; /* Negative margin to extend beyond padding */
  margin-right: -20px; /* Negative margin to extend beyond padding */
  width: calc(100% + 40px); /* Width to cover container width + padding */
  height: 7px; /* Thickness of the line */
  background: white; /* Color of the line */
}

.column {
  background-color: #589bff;
  padding: 0px;
  margin: 10px;
  flex: 1;
  text-align: center;
  font-family: 'Chelsea Market';
}

/* Media query for screens less than 768px wide */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .column {
    margin: 5px 0;
  }
  .curved-box {
    padding: 20px;
}
}

.invisible-break {
  margin-top: 30px; /* Adjust this value to set the horizontal spacing */
}

.for-sale-box{
  background-color: #8A80AB;
  padding: 20px;
  border-radius: 25px;
  width: 100%;
  color: white;
  box-sizing: border-box;
  border: 2px solid white;
}

.enclosure-box{
  background-color: #39C5AC;
  padding: 20px;
  border-radius: 25px;
  width: 100%;
  color: white;
  box-sizing: border-box;
  border: 2px solid white;
}