.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  list-style: none;
  margin: 0;
  background: deepskyblue;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: dodgerblue;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.enclosure {
  background: deepskyblue;
}

.stocks {
  background: dodgerblue;
}

.market {
  background: deepskyblue;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .enclosure    { flex: 3 0px; }
  .stocks { order: 1; } 
  .market { order: 2; }
}

body {
  padding: 2em; 
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
} */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #87CEEB;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  background-color: #f0f0f0;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.balance-income {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 20px;
}

.balance, .income {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  width: 48%;
  text-align: center;
}

.main-content {
  display: flex;
  width: 100%;
}

.enclosures {
  flex: 2;
  background-color: #4CAF50;
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
  height: 400px;
}

.right-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.stocks, .market {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}